<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppe | Online stationary store</title>
    <link rel="shortcut icon" href="/static/brand/favicon50.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/src/output.css">
</head>

<body>

    <!-- including necessary scripts -->
    <script src="/static/libs/js/shoppe.jQuery.js"></script>
    <script src="/static/libs/js/shoppe.gsap.js"></script>
    <script src="/static/libs/js/shoppe.scroll.js"></script>
    <script src="/static/libs/js/shoppe.text.js"></script>

</body>

</html>